/* assassinocracy.css, 2019, by Alexander Divine */

:root {
    --master-font-color: #D5D5D5;
    --header-color: #FF0077;
    --divider-color: #0000FF;
}

@font-face {
    font-family: 'Nouveau_IBM';
    src: url('nouveau_ibm.eot');
    src: url('nouveau_ibm.eot?#iefix') format('embedded-opentype'),
         url('nouveau_ibm.woff') format('woff'),
         url('nouveau_ibm.ttf') format('truetype'),
         url('nouveau_ibm.svg#Nouveau_IBM') format('svg');
}

@keyframes sorcery {
    0%   {text-shadow: -1px 0px 0px #770000, 1px 0px 0px #000077;}
    49%  {text-shadow: -2px 0px 0px #FF0077, 2px 0px 0px #7700FF;}
    100% {text-shadow: -1px 0px 0px #770000, 1px 0px 0px #000077;}
}

/* Standard HTML5 classes */

body {
    font-family: 'Nouveau_IBM', monospace;
    font-size: 18px;

    /* Disables anti-aliasing of text; may not work on all browsers */
    font-smooth: never;
    -webkit-font-smoothing: none;

    background-color: #000000;
    color: var(--master-font-color);
}

h1 {
    font-weight: normal;
    color: var(--master-font-color);
    text-shadow: -1px 0px 0px #770000, 1px 0px 0px #000077;
    font-size: 250%;
    padding: 6px;
    border-bottom: 1px solid var(--divider-color);

    animation: sorcery 1s infinite;
}

h2 {
    font-weight: normal;
    font-size: 150%;
    color: var(--master-font-color);
    background-color: #000070;
    padding-top: 6px;
    padding-bottom: 6px;
}

h3 {
    color: var(--header-color);
    font-size: 100%;
}

i {
    font-style: normal;
    color: #FF00FF;
}

hr {
    background-color: var(--divider-color);
    height: 1px;
    border: none;
}

p {
    line-height: 1.5;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
}

ul {

}

li {
    font-color: var(--header-color);
}

/* Custom classes */

.container {
    width: 960px;
    margin: auto;
}